In [1]:
import pandas as pd
import os

In [2]:
Diretorio = '/Users/dcassis/Documents/Pós_Graduação - Data Science and Learning Machine/Bootcamp - Arquiteto de Big Data/Projetos/coleta_de_dados/vendas_veiculos'

In [3]:
lista_df = []
lista_path = os.listdir(Diretorio)
lista_path[:5]

['2020-12-17.csv',
 '2020-02-12.csv',
 '2021-01-20.csv',
 '2020-10-12.csv',
 '2021-01-21.csv']

In [4]:
lista_df = []
for arquivo in lista_path:
    local_arquivo = os.path.join(Diretorio, arquivo)
    df = pd.read_csv(local_arquivo, sep=';', encoding='latin-1')
    lista_df.append(df)
df_vendas = pd.concat(lista_df)
df_vendas[:10]

,cod_pessoa,nome,genero,data_nascimento,data_compra,fabricante,modelo,valor,[.ShellClassInfo]
0,1113.0,Nicolas,Masculino,1978-06-26,2020-12-17,Ford,Ka S 1.0,51990.0,NaN
1,1163.0,Victor Hugo,Masculino,1970-08-05,2020-12-17,Fiat,Mobi Easy 1.5,40449.0,NaN
2,1181.0,Luiz Gustavo,Masculino,1952-12-01,2020-12-17,Ford,Ka S 1.0,51990.0,NaN
0,1118.0,Enzo Gabriel,Masculino,1984-02-15,2020-02-12,Ford,Ka S 1.0,51990.0,NaN
0,1006.0,Manuela,Feminino,1981-02-21,2021-01-20,Lifan,530 Talent 1.5,43990.0,NaN
1,1026.0,Ana Clara,Feminino,1961-12-21,2021-01-20,Hyndai,Hyundai HB20 1.0 Sense,49590.0,NaN
2,1199.0,Oliver,Masculino,1975-09-23,2021-01-20,Fiat,Uno Attractive 1.0,50004.0,NaN
0,1101.0,Arthur,Masculino,1992-07-11,2020-10-12,Volkswagen,Gol 1.0,54150.0,NaN
1,1121.0,Gustavo,Masculino,1972-04-26,2020-10-12,Fiat,Mobi Easy 1.5,40449.0,NaN
0,1079.0,Sophie,Feminino,1991-10-22,2021-01-21,Fiat,Uno Attractive 1.0,50004.0,NaN

In [5]:
df_vendas.to_csv(Diretorio + 'vendas_por_data.csv', sep = ';', encoding='latin-1', index=False)